./*/cmake-build-debug/*
cmake-build-relwithdebinfo/*
./*/cmake-build-release/*
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-2548cf372515a6b4b5e1.json
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/cache-v2-9554f6f9f3b7cd7f56cd.json
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/target-VS_CMAKE_organize-Debug-1aa08b512055db2e3a93.json
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/VS_CMAKE_organize.dir/src/sum.cpp.o
./*/.idea/
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-dd3236d43e7f7a4911b5.json
/.idea/.gitignore
/.idea/.name
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-74e3e238dff83c10e013.json
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-cff4dd24fa24b5a02913.json
/.idea/editor.xml
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T02-40-53-0080.json
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T02-41-09-0288.json
/.idea/misc.xml
/.idea/Modern_CMake.iml
/.idea/modules.xml
/.idea/vcs.xml
/add_libraries/cmake-build-debug/.ninja_deps
/cpp_standards/cmake-build-debug/.ninja_deps
/use_MyMathLib/cmake-build-debug/.ninja_deps
/add_libraries/cmake-build-debug/.ninja_log
/cpp_standards/cmake-build-debug/.ninja_log
/use_MyMathLib/cmake-build-debug/.ninja_log
/add_libraries/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.out
/add_libraries/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.out
/cpp_standards/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.out
/cpp_standards/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.out
/use_MyMathLib/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.out
/use_MyMathLib/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.out
/add_libraries/cmake-build-debug/build.ninja
/cpp_standards/cmake-build-debug/build.ninja
/use_MyMathLib/cmake-build-debug/build.ninja
/add_libraries/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cpp_standards/cmake-build-debug/.cmake/api/v1/query/cache-v2
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/query/cache-v2
/create_lib/cmake-build-debug/.cmake/api/v1/reply/cache-v2-4cba848da5e401c47e2c.json
/cpp_standards/cmake-build-debug/.cmake/api/v1/reply/cache-v2-87644d9b39d132e16c9e.json
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/reply/cache-v2-d53d802ba5d9f1584b59.json
/add_libraries/cmake-build-debug/.cmake/api/v1/reply/cache-v2-e2c076c5b2f3e39069e6.json
/add_libraries/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cpp_standards/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/use_MyMathLib/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/add_libraries/cmake-build-debug/CMakeFiles/clion-environment.txt
/cpp_standards/cmake-build-debug/CMakeFiles/clion-environment.txt
/use_MyMathLib/cmake-build-debug/CMakeFiles/clion-environment.txt
/add_libraries/cmake-build-debug/CMakeFiles/cmake.check_cache
/cpp_standards/cmake-build-debug/CMakeFiles/cmake.check_cache
/use_MyMathLib/cmake-build-debug/CMakeFiles/cmake.check_cache
/add_libraries/cmake-build-debug/Math/cmake_install.cmake
/add_libraries/cmake-build-debug/cmake_install.cmake
/cpp_standards/cmake-build-debug/cmake_install.cmake
/use_MyMathLib/cmake-build-debug/cmake_install.cmake
/add_libraries/cmake-build-debug/CMakeCache.txt
/cpp_standards/cmake-build-debug/CMakeCache.txt
/use_MyMathLib/cmake-build-debug/CMakeCache.txt
/add_libraries/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/cpp_standards/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/use_MyMathLib/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/add_libraries/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/cpp_standards/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/use_MyMathLib/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/add_libraries/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cpp_standards/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/use_MyMathLib/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/add_libraries/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/cpp_standards/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/use_MyMathLib/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/add_libraries/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cpp_standards/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/use_MyMathLib/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/add_libraries/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/cpp_standards/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/use_MyMathLib/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/add_libraries/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/cpp_standards/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/use_MyMathLib/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/add_libraries/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cpp_standards/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cpp_standards/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-2b911f61130073d484f0.json
/add_libraries/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-d7790b39bcb5d8cb3d8d.json
/create_lib/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e06b1848fd6e62900a71.json
/add_libraries/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
/cpp_standards/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
/use_MyMathLib/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
/add_libraries/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cpp_standards/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/create_lib/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8d0105f4bc5c72248302.json
/cpp_standards/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-9ad3baae36efc1688fff.json
/add_libraries/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-66feb07ac2d0f35541b7.json
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-77ca0bb2f498b9db26cb.json
/add_libraries/cmake-build-debug/compile_commands.json
/cpp_standards/cmake-build-debug/cpp_standards
/add_libraries/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/cpp_standards/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/add_libraries/cmake-build-debug/.cmake/api/v1/reply/directory-Math-Debug-891eb62a67021d757f40.json
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T03-17-34-0419.json
/add_libraries/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T03-18-08-0071.json
/cpp_standards/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T03-18-26-0602.json
/create_lib/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T03-18-51-0626.json
/add_libraries/cmake-build-debug/Testing/Temporary/LastTest.log
/cpp_standards/cmake-build-debug/Testing/Temporary/LastTest.log
/use_MyMathLib/cmake-build-debug/Testing/Temporary/LastTest.log
/add_libraries/cmake-build-debug/Math/libMATH_LIB.a
/cpp_standards/cmake-build-debug/CMakeFiles/cpp_standards.dir/main.cpp.o
/use_MyMathLib/cmake-build-debug/CMakeFiles/use_MyMathLib.dir/main.cpp.o
/add_libraries/cmake-build-debug/CMakeFiles/rules.ninja
/cpp_standards/cmake-build-debug/CMakeFiles/rules.ninja
/use_MyMathLib/cmake-build-debug/CMakeFiles/rules.ninja
/add_libraries/cmake-build-debug/Math/CMakeFiles/MATH_LIB.dir/src/sum.cpp.o
/add_libraries/cmake-build-debug/.cmake/api/v1/reply/target-add_libraries-Debug-0abcc266976a51836844.json
/cpp_standards/cmake-build-debug/.cmake/api/v1/reply/target-cpp_standards-Debug-9dedc4bd7cf21df3500d.json
/add_libraries/cmake-build-debug/.cmake/api/v1/reply/target-MATH_LIB-Debug-3751ac9d95d69bb3830b.json
/create_lib/cmake-build-debug/.cmake/api/v1/reply/target-MyMathLibrary-Debug-ec7a69475395c08abc5e.json
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/reply/target-use_MyMathLib-Debug-18fb9d88a2ecdedf87c2.json
/add_libraries/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cpp_standards/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/use_MyMathLib/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/add_libraries/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cpp_standards/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/add_libraries/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-7096c62e23c342eb06a8.json
/cpp_standards/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-7096c62e23c342eb06a8.json
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-7096c62e23c342eb06a8.json
/use_MyMathLib/cmake-build-debug/use_MyMathLib
/create_lib/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T03-19-55-0921.json
/hello_cmake/cmake-build-debug/.ninja_deps
/HelloWorld/cmake-build-debug/.ninja_deps
/hello_cmake/cmake-build-debug/.ninja_log
/HelloWorld/cmake-build-debug/.ninja_log
/hello_cmake/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.out
/hello_cmake/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.out
/HelloWorld/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.out
/HelloWorld/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.out
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.out
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.out
/hello_cmake/cmake-build-debug/build.ninja
/HelloWorld/cmake-build-debug/build.ninja
/VS_CMAKE_organize/cmake-build-debug/build.ninja
/hello_cmake/cmake-build-debug/.cmake/api/v1/query/cache-v2
/HelloWorld/cmake-build-debug/.cmake/api/v1/query/cache-v2
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/query/cache-v2
/includes/cmake-build-debug/.cmake/api/v1/reply/cache-v2-7c9de303f849142d71ab.json
/HelloWorld/cmake-build-debug/.cmake/api/v1/reply/cache-v2-39efb1512a16f75558dd.json
/hello_cmake/cmake-build-debug/.cmake/api/v1/reply/cache-v2-f2667cee1eda68269d57.json
/hello_cmake/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/HelloWorld/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/hello_cmake/cmake-build-debug/CMakeFiles/clion-environment.txt
/HelloWorld/cmake-build-debug/CMakeFiles/clion-environment.txt
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/clion-environment.txt
/hello_cmake/cmake-build-debug/CMakeFiles/cmake.check_cache
/HelloWorld/cmake-build-debug/CMakeFiles/cmake.check_cache
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/cmake.check_cache
/hello_cmake/cmake-build-debug/cmake_install.cmake
/HelloWorld/cmake-build-debug/cmake_install.cmake
/VS_CMAKE_organize/cmake-build-debug/cmake_install.cmake
/hello_cmake/cmake-build-debug/CMakeCache.txt
/HelloWorld/cmake-build-debug/CMakeCache.txt
/VS_CMAKE_organize/cmake-build-debug/CMakeCache.txt
/hello_cmake/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/HelloWorld/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/hello_cmake/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/HelloWorld/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/hello_cmake/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/HelloWorld/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/hello_cmake/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/HelloWorld/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/hello_cmake/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/HelloWorld/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/hello_cmake/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/HelloWorld/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/hello_cmake/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/HelloWorld/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/hello_cmake/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/HelloWorld/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/hello_cmake/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-09ac7299dac7c6c9e658.json
/HelloWorld/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-c02dad3cd6e103b0037a.json
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-c40ea91db1101967b33f.json
/includes/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-c818070698265e056c41.json
/hello_cmake/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
/HelloWorld/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
/hello_cmake/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/HelloWorld/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/HelloWorld/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0aaf1be398a657960b7c.json
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-8eaf8344d6a16133af24.json
/includes/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-b247550fbfb4942cab8c.json
/hello_cmake/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-fb367527c24ef8bbf1f2.json
/hello_cmake/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/HelloWorld/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/hello_cmake/cmake-build-debug/hello_cmake
/HelloWorld/cmake-build-debug/HelloWorld
/hello_cmake/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T03-20-30-0887.json
/HelloWorld/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T03-20-46-0036.json
/includes/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T03-20-59-0143.json
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T03-21-17-0496.json
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T03-22-00-0973.json
/hello_cmake/cmake-build-debug/Testing/Temporary/LastTest.log
/HelloWorld/cmake-build-debug/Testing/Temporary/LastTest.log
/hello_cmake/cmake-build-debug/CMakeFiles/hello_cmake.dir/main.cpp.o
/HelloWorld/cmake-build-debug/CMakeFiles/HelloWorld.dir/src/main.cpp.o
/includes/cmake-build-debug/CMakeFiles/includes.dir/src/main.cpp.o
/hello_cmake/cmake-build-debug/CMakeFiles/rules.ninja
/HelloWorld/cmake-build-debug/CMakeFiles/rules.ninja
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/rules.ninja
/includes/cmake-build-debug/CMakeFiles/includes.dir/src/sum.cpp.o
/hello_cmake/cmake-build-debug/.cmake/api/v1/reply/target-hello_cmake-Debug-f9b6f3353129404e37dc.json
/HelloWorld/cmake-build-debug/.cmake/api/v1/reply/target-HelloWorld-Debug-446c552d14e9787127f9.json
/includes/cmake-build-debug/.cmake/api/v1/reply/target-includes-Debug-ef8c3a92647f8e6308bd.json
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/target-VS_CMAKE_organize-Debug-7260787fe3619c046d26.json
/hello_cmake/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/HelloWorld/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/hello_cmake/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/HelloWorld/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/hello_cmake/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-7096c62e23c342eb06a8.json
/HelloWorld/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-7096c62e23c342eb06a8.json
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-7096c62e23c342eb06a8.json
