./*/cmake-build-debug/*
cmake-build-relwithdebinfo/*
./*/cmake-build-release/*
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-2548cf372515a6b4b5e1.json
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/cache-v2-9554f6f9f3b7cd7f56cd.json
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/target-VS_CMAKE_organize-Debug-1aa08b512055db2e3a93.json
/VS_CMAKE_organize/cmake-build-debug/CMakeFiles/VS_CMAKE_organize.dir/src/sum.cpp.o
./*/.idea/
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-dd3236d43e7f7a4911b5.json
/.idea/.gitignore
/.idea/.name
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-74e3e238dff83c10e013.json
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-cff4dd24fa24b5a02913.json
/.idea/editor.xml
/VS_CMAKE_organize/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T02-40-53-0080.json
/use_MyMathLib/cmake-build-debug/.cmake/api/v1/reply/index-2025-03-05T02-41-09-0288.json
/.idea/misc.xml
/.idea/Modern_CMake.iml
/.idea/modules.xml
/.idea/vcs.xml
